@inject linkedInTutorial.Models.FormattingService Format
@model linkedInTutorial.Models.Post

<article class="blog-post">
    <h1>
        @Model.Title
    </h1>
    <div class="details">
        Posted by <span>
            @Format.AsReadableDate(Model.Posted)
        </span>
        by
        <span>
            @Model.Author
        </span>
    </div>
    <div>
        @Model.Body
    </div>

</article>